<nav class="main-nav shadow d-flex py-2">
  <div id="div-nav" class="d-flex my-auto">
    <img src="assets/logo.png" alt="Logo" class="img-nav col-1">
    <h2 class="text-white">Telegram Stickers</h2>
  </div>
  <fa-icon [icon]="faBars" style="font-size: 1.8rem;" class="ms-auto pe-4 text-white p-2"
    (click)="openOffCanvas()"></fa-icon>
</nav>

<div class="row mx-4 my-4">

  <div id="icons" *ngFor="let sticker of stickersPacks" (click)="selectStickerPack(sticker.name);"
    class="col-lg-1 col-md-4 col-sm-6 col-6 my-1">

    <img [src]="sticker.data[1].download_url" alt="sticker.icon">

  </div>

</div>